{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ static_url("css/goods.css") }}">
{% end %}

{% block content %}
	<div class="container  clearfix" >
		<div class="main fl clearfix">
			<div class="goods-nav clearfix">
				<div class="title">
					路口精选好物
				</div>
				<ul>
					<li><a href="">全部好物</a></li>
					<li><a href="">吃货阵地</a></li>
					<li><a href="">服饰鞋包</a></li>
					<li><a href="">其他好物</a></li>
				</ul>
			</div>
			
			<div class="main clearfix">
			<div class="goods fl">
				<div class="img clearfix">
					<img src="dist/assets/img/pic.jpg" alt="">
					<div class="desc">
						￥25.00
					</div>
				</div>
				<div class="intro">
					<a href=""><p>新鲜现货 LUSH 美梦成真身体润肤乳滋 润抗过敏240g</p></a>
				</div>
				<div class="text">
					<div class="user">
						<a href=""><img src="dist/assets/img/pic.jpg" alt=""></a>
						<a href="">刃为^羽双串</a>  推荐
					</div>
					<p>
						LUSH经典和谐心灵香薰，蕴含薰衣草、 柠檬草及甜橙等香薰精华油成分。 具保 湿滋润功能，还能紧肤、促进血液循环 及舒缓肌肉疲... 
						<span class="more"><a href="">更多 >></a></span>
					</p>
					
				</div>
			</div>
			<div class="goods fl">
				<div class="img clearfix">
					<img src="dist/assets/img/pic.jpg" alt="">
					<div class="desc">
						￥25.00
					</div>
				</div>
				<div class="intro">
					<a href=""><p>新鲜现货 LUSH 美梦成真身体润肤乳滋 润抗过敏240g</p></a>
				</div>
				<div class="text">
					<div class="user">
						<a href=""><img src="dist/assets/img/pic.jpg" alt=""></a>
						<a href="">刃为^羽双串</a>  推荐
					</div>
					<p>
						LUSH经典和谐心灵香薰，蕴含薰衣草、 柠檬草及甜橙等香薰精华油成分。 具保 湿滋润功能，还能紧肤、促进血液循环 及舒缓肌肉疲... 
						<span class="more"><a href="">更多 >></a></span>
					</p>
					
				</div>
			</div>
			<div class="goods ">
				<div class="img clearfix">
					<img src="dist/assets/img/pic.jpg" alt="">
					<div class="desc">
						￥25.00
					</div>
				</div>
				<div class="intro">
					<a href=""><p>新鲜现货 LUSH 美梦成真身体润肤乳滋 润抗过敏240g</p></a>
				</div>
				<div class="text">
					<div class="user">
						<a href=""><img src="dist/assets/img/pic.jpg" alt=""></a>
						<a href="">刃为^羽双串</a>  推荐
					</div>
					<p>
						LUSH经典和谐心灵香薰，蕴含薰衣草、 柠檬草及甜橙等香薰精华油成分。 具保 湿滋润功能，还能紧肤、促进血液循环 及舒缓肌肉疲... 
						<span class="more"><a href="">更多 >></a></span>
					</p>
					
				</div>
			</div>
			</div>


		</div>

		<aside class="aside fr">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas sapiente natus, possimus excepturi tenetur numquam esse cupiditate est nesciunt voluptas autem voluptatum dolorum odit similique magnam velit omnis, veniam.
		</aside>
	</div>
{% end %}